body{
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--primary);
}

.progress-bar-bg{
    justify-content: left;
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 25px;
    background-color: rgb(0,0,0,.3);

}

.progress-bar{
    width: 10vw;
    height: 25px;
    background-color: var(--secondary);
}

.container_welcome{
    flex-direction: column;
    align-items: center;

}

h4{
    font-weight: 400;
    margin-bottom: 40px;
}

span{
    font-weight: bold;
}

.container_questions{
    display: flex;
    width: 800px;
}

.start{
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--secondary);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: .3s ease;
}

.start:hover{
    cursor:pointer;
    background-color: var(--hoverSecondary);
}

#enter{
    position: relative;
    left: 127px;
    top: -33px;
    font-weight: 400;
    font-size: .8em;
}


.selector{
    width: 600px;
}

#selector-field{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 25px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background: var(--optionBackground);
    border-radius: 5px;
}

#selector-field:hover{
    cursor: pointer;
}

#list{
    width: 100%;
    overflow: hidden;
}

.options{
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    background: var(--optionBackground);
    border: 1px solid #000;
    border-radius: 5px;
}

.options:hover{
    background: var(--optionBgHover);
}


.option-group{
    display: flex;
    width: 100%;
}

.guide-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#q7 h4{
    font-style: italic;
    color: #161616;
    margin-top: -50px;
}


#waiterName{
    width: 100%;
    height: 1.6em;
    background: none;
    border: none;
    border-bottom: 1px solid;
    padding: 0 20px;
    font-size: 1.5em;
    font-family: inherit;
    resize: none;
}

#waiterName:focus{
    outline: none;
}