@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F9CD48;
}

.progress-bar-bg{
    justify-content: left;
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 25px;
    background-color: rgb(0,0,0,.3);

}

.progress-bar{
    width: 10vw;
    height: 25px;
    background-color: #A82626;
}

.container_welcome{
    flex-direction: column;
    align-items: center;

}

h3{
    font-weight: 400;
}
h4{
    font-weight: 400;
    margin-bottom: 40px;
}

span{
    font-weight: bold;
}

.start{
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #A82626;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: .3s ease;
}

.start:hover{
    cursor:pointer;
    background-color: #af4e4e;
}

#enter{
    position: relative;
    left: 127px;
    top: -33px;
    font-weight: 400;
    font-size: .8em;
}

.q1{
    flex-direction: column;
}

.selector{
    width: 600px;
}

#selector-field{
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(0,0,0,.1);
    border-radius: 5px;
}

#selector-field:hover{
    cursor: pointer;
}

#list{
    width: 100%;
    overflow: hidden;
}

.options{
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    background: rgb(0,0,0,.1);
    border: 1px solid #000;
    border-radius: 5px;
}

.options:hover{
    background: rgb(0,0,0,.5);

}

